<template>
    <router-view />
</template>

<script lang="ts">
import store from './store';

export default {
    name: 'App',
    beforeCreate() {
        store.dispatch('auth/checkLogin');
    }
};
</script>

<style lang="scss">
// @use '@/assets/scss/settings';
@import '@/assets/scss/styles.scss';
</style>
