<template>
    <div class="custom-pagination-container">
        <div v-if="showTotal" class="total">
            {{ `${$t('total')}: ` }}{{ total }}
        </div>
        <div class="pagination">
            <v-pagination
                v-model="state.page"
                size="x-small"
                class="my-1"
                :length="state.pageLen"
                :total-visible="total"
                @update:model-value="changePage"
            ></v-pagination>
        </div>
        <div>
            <v-select
                v-model="state.pageSize"
                :items="pageSizeArr"
                variant="solo"
                density="compact"
                hide-details
                class="page-size-select"
                @update:model-value="changePageSize"
            ></v-select>
        </div>
    </div>
</template>

<script setup lang="ts">
import { reactive, PropType, computed, defineEmits } from 'vue';

const props = defineProps({
    total: { type: Number, default: 0, required: true },
    pageSizeArr: { type: Array as PropType<number[]>, default: () => [10, 20, 50, 100], required: false },
    pageSize: { type: Number, default: 10, required: false },
    showTotal: { type: Boolean, default: true, required: false },
});

const state = reactive({ page: 1, pageSize: props.pageSize, pageLen: computed(() => Math.ceil(props.total / props.pageSize)) });

const emit = defineEmits(['changePage', 'changePageSize']);

const changePage = (p: number) => {
    state.page = p;
    emit('changePage', p);
}

const changePageSize = (s: number) => {
    if (s >= props.total) {
        state.page = 1;
    } else if (state.page > Math.ceil(props.total / s)) {
        state.page = Math.ceil(props.total / s);
    }

    state.pageSize = s;

    emit('changePageSize', state.pageSize);
    emit('changePage', state.page);
}

</script>

<style lang="scss">
.custom-pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 1rem 0.2rem 0;

    & > div.total {
        font-size: 12px;
        position: relative;
        top: -2px;
    }

    & > div.pagination {
        max-width: 20%;
    }

    & > div:last-child {
        .page-size-select {
            & > .v-input__control {
                max-height: 35px;
                min-width: 65px;
                max-width: 65px;

                & > .v-field {
                    padding-right: 4px;
                }
            }

            .v-select__selection-text {
                font-size: 12px;
            }

            i.v-icon {
                font-size: 20px;
            }
        }
    }
}

.v-overlay {
    * {
        font-size: 12px;
    }
}
</style>