<template>
    <div class="actionContainer">
        <div v-if="rowAction.type === 'inline'" class="actionWrapper inline">
            <div v-for="(act, index) in rowAction.actions" :key="`${act.key}${index}`" class="action">
                <div v-if="act.renderType === 'icon'" class="icon">
                    <v-hover>
                        <template #default="{ isHovering, props }">
                            <v-btn :color="isHovering ? act.iconBgHoverColor : act.iconBgColor" size="small" flat v-bind="props">
                                <v-icon :icon="act.icon" :color="isHovering ? act.iconHoverColor : act.iconColor"></v-icon>
                                <component :is="act.component" v-if="act.actType === 'dialog'" :row-key="actRowKey" />
                            </v-btn>
                        </template>                        
                    </v-hover>
                </div>
            </div>
        </div>
        <div v-else-if="rowAction.type === 'select'" class="actionWrapper select">
        </div>
    </div>
</template>

<script setup lang="ts">
import { defineProps, PropType, toRefs } from 'vue';
import { RowAction } from '@/types';

const actProps = defineProps({
    rowAction: { type: Object as PropType<RowAction>, default: () => ({ type: 'inline', actions: { key: '', renderType: 'button' } }), required: false },
    actRowKey: { type: String, default: '', required: true },
});

const { rowAction, actRowKey } = toRefs(actProps);

</script>

<style lang="scss"  scoped>
.actionContainer {
    .actionWrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        div.action {
            margin-right: 8px;

            &:last-of-type {
                margin-right: 0;
            }

            .icon {
                button {
                    border-radius: 4px;
                    min-width: 30px;
                    max-width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
</style>