<!--부모 컴포넌트 style scoped이고 클래스가 있을 경우, 자식의 최상위 child가 동일하게 클래스명을 가지면 부모 클래스가 자식에게 적용됨-->
<template>
    <div>
        <div
            :class="['textField-container', 'textField-common', variant, label ? state.mode : '']"
            :style="{ height, width, 'background-color': bgColor, 'border-color': textFieldBorder }"
            @mouseover="onMouseOver"
            @mouseout="onMouseOut"
        >
            <div v-if="labelPosition === 'move'" class="legend" :style="{ width: state.lebelWidth }" />
            <input
                :type="state.type"
                :style="{ height: inputHeight, width: inputWidth }"
                @focus="onInputFocus"
                @blur="onInputBlur"
                @input="changeValue($event)"
            />
            <label v-if="label" :style="{ lineHeight: labelLineHeight }">{{ label }}</label>
            <span v-if="type === 'password'" class="material-icons visibility-icon" @click="togglePasswordVisibility">{{
                state.pwVisible ? 'visibility' : 'visibility_off'
            }}</span>
        </div>
    </div>
</template>

<script setup lang="ts">
import { defineProps, computed, reactive, defineEmits } from 'vue';
import { useTheme } from 'vuetify';

const vTheme = useTheme();

const inputPaddingLeft = '12px';

const LABEL_POSITION = {
    TOP: 'top',
    INSIDE: 'inside',
    MOVE: 'move'
};

const props = defineProps({
    type: { type: String, default: 'text', required: false }, // type == text, password
    label: { type: String, default: '', required: false },
    labelPosition: { type: String, default: 'inside', required: false }, // inside=textField 내부 top 위치, top=border에 걸침, move=클릭하면 top 위치로
    width: { type: String, default: '100%', required: false }, // type: [String, Object]  Union의 경우
    height: { type: String, default: '50px', required: false },
    bgColor: { type: String, default: '#fafafa', required: false },
    placeHolder: { type: String, default: '', required: false },
    variant: { type: String, default: 'outlined', required: false }, // outlined, normal
    value: { type: String, default: '', required: false }
});

const emit = defineEmits(['inputChanged']);

const state = reactive({
    focus: false,
    active: false,
    mode: props.labelPosition,
    lebelWidth: '0px',
    pwVisible: false,
    type: props.type
});

const inputWidth = computed(() => {
    if (props.type === 'password') {
        return '80%';
    }
    return `calc(100% - ${inputPaddingLeft})`;
});

const inputHeight = computed(() => {
    if (!props.label || state.mode === LABEL_POSITION.TOP || state.mode === LABEL_POSITION.MOVE) {
        return '100%';
    } else if (state.mode == LABEL_POSITION.INSIDE) {
        return `calc(100% - ${inputPaddingLeft})`;
    } else {
        return 'auto';
    }
});

const textFieldBorder = computed(() => {
    if (state.active) {
        return vTheme.current.value.colors.borderColorActive;
    } else if (state.focus) {
        return vTheme.current.value.colors.borderColorHover;
    } else {
        return vTheme.current.value.colors.borderColorDefault;
    }
});

const labelLineHeight = computed(() => {
    if (state.mode === 'move') {
        return props.height;
    } else {
        return 1;
    }
});

const onMouseOver = () => {
    state.focus = true;
};

const onMouseOut = () => {
    state.focus = false;
};

const onInputFocus = () => {
    state.active = true;

    if (props.labelPosition === LABEL_POSITION.MOVE) {
        const elem = document.querySelector('label');
        state.lebelWidth = (elem && `${elem.clientWidth}px`) || '0px';
        state.mode = LABEL_POSITION.TOP;
    }
};

const onInputBlur = (e: Event) => {
    state.active = false;
    const target = e.target as HTMLInputElement;

    if (!target.value && props.labelPosition === LABEL_POSITION.MOVE) {
        state.lebelWidth = '0px';
        state.mode = LABEL_POSITION.MOVE;
    }
};

const togglePasswordVisibility = () => {
    state.pwVisible = !state.pwVisible;
    state.type = state.pwVisible ? 'text' : 'password';
};

const changeValue = (e: Event) => {
    emit('inputChanged', (e.target as HTMLInputElement).value);
};

// watch(
//     () => state.focus,
//     (next, prev) => {
//         console.log('------------watch', next, prev);
//     }
// );
// defineProps({ // 이 경우에는 부모에서 props 라는 이름으로 오브젝트를 넘겨야 함
//     props: Object as PropType<TextFieldProps>
// });
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.module.scss';

.textField-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #212121;

    &.textField-common {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 0 12px;
        transition: border 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        background: transparent;
    }

    &.outlined {
        border: 1px solid $border-color-default;
        border-radius: 8px;
    }

    &.normal {
        border-bottom: 1px solid $border-color-default;
        border-radius: 0px;
    }

    input {
        border: 0;
        // width: 100%;
        font-size: 14px;
        background-color: transparent;

        &:-webkit-autofill {
            background-color: transparent !important;
            box-shadow: 0 0 0 1000px #fafafa inset;
        }

        &:focus + label {
            color: $label-color-active;
        }
    }

    input[type='password'] {
        letter-spacing: 6px;
    }

    & label {
        margin-top: 4px;
        font-size: 12px;
        color: $label-color-default;
        transform: translateY(-0px);
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        transform-origin: top left;
    }

    // LABEL_POSITION.TOP
    &.top label {
        position: absolute;
        top: -11px;
        background-color: #fff;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
    }

    // LABEL_POSITION.MOVE
    &.move {
        & > * {
            position: absolute;
            top: 0;
        }

        & input {
            height: 100%;
            z-index: 50;
        }

        & label {
            height: 100%;
            font-size: 14px;
            margin-top: -2px;
            z-index: 10;
        }
    }

    & .legend {
        position: absolute;
        top: -5px;
        height: 11px;
        transition: width 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        background-color: #fff;
    }

    & .visibility-icon {
        position: absolute;
        right: 10px;
        color: rgba(0, 0, 0, 0.54);
        top: calc(50% - 12px);
        width: 24px;
        height: 24px;

        &:hover {
            cursor: pointer;
        }
    }
}
</style>
