<template>
    <div class="base">
        <div>
            <Tnb @change-fold="changeFoldTnb" />
        </div>
        <div>
            <Lnb :fold="fold" />
            <Container />
        </div>
    </div>
</template>

<script lang="ts">
import Lnb from './lnb.vue';
import Tnb from './tnb.vue';
import Container from './container.vue';
import { ref } from 'vue';

export default {
    components: {
        Lnb,
        Container,
        Tnb
    },
    setup() {
        const fold = ref(false);

        const changeFoldTnb = (val: boolean) => (fold.value = val);

        return {
            fold,
            changeFoldTnb
        };
    }
};
</script>

<style lang="scss" scoped>
.base {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div {
        position: relative;
        margin: 0;
        padding: 0;

        &:nth-of-type(1) {
            height: 80px;
        }

        &:nth-of-type(2) {
            height: calc(100vh - 80px);
            display: flex;
            width: 100%;
        }
    }
}
</style>
