<template>
    <div class="router-container">
        <router-view />
    </div>
</template>

<script lang="ts">
export default {
    name: 'Container',
    components: {},
    emits: [],
    setup() {
        return {};
    }
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.module.scss';

.router-container {
    flex-grow: 1;
    height: 100%;
    background-color: $bg-color-main;
    padding: 1.5rem;
    margin: 0 1.5rem;
    border-radius: 6px 6px 0 0;
}
</style>
