<template>
    <div :class="['lnb', `${lnbClass}`]">
        <v-list
            v-model:selected="selected"
            v-model:opened="opened"
            @click:open="openMenu"
            @click:select="clickMenu"
            @update:selected="updateMenu"
        >
            <template v-for="menu in LNB_MENU">
                <v-list-item
                    v-if="singleMenu(menu.id)"
                    :key="menu.id"
                    :value="menu.id"
                    :title="menuLabel(menu.label)"
                    :prepend-icon="menu.icon"
                    rounded
                    active-class="active-list-item"
                    class="menu"
                >
                </v-list-item>
                <v-list-group v-if="!singleMenu(menu.id)" :key="menu.id" :value="menu.id">
                    <template #activator="{ props }">
                        <v-list-item
                            v-bind="props"
                            :title="menuLabel(menu.label)"
                            :prepend-icon="menu.icon"
                            rounded
                            active-class="active-list-item"
                            class="menu"
                            :value="menu.id"
                        ></v-list-item>
                    </template>
                    <v-list-item
                        v-for="sub in subMenu(menu.id)"
                        :key="sub.id"
                        active-class="active-list-item sub-menu"
                        :prepend-icon="icons.mdiCircleSmall"
                        rounded
                        :title="menuLabel(sub.label)"
                        :value="sub.id"
                    ></v-list-item>
                </v-list-group>
            </template>
        </v-list>
    </div>
</template>

<script lang="ts">
import LNB_MENU from '@/utils/menu';
import { mdiCircleSmall } from '@mdi/js';
import { ref, computed, defineComponent } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { onMounted } from 'vue';
import { useI18n } from 'vue-i18n';
import { Menu } from '@/types';

export default defineComponent({
    props: {
        fold: Boolean
    },
    setup(props: { fold: boolean }) {
        const { t } = useI18n();
        const route = useRoute();
        const router = useRouter();
        const currentMenuId = ref('/dashboard');
        const selected = ref(['/dashboard']);
        const opened = ref(['']);

        onMounted(async () => {
            await router.isReady();
            const path = route.path;
            selected.value = [path];
            currentMenuId.value = path;
            initOpened(path);
        });

        const initOpened = (path: string) => {
            const arr = path.split('/');
            if (arr.length >= 3) {
                const target = `/${arr[1]}`;
                opened.value = [target];
            }
        };

        const menuLabel = (label: string | string[]) => {
            if (Array.isArray(label)) {
                let val = '';
                label.forEach((el) => {
                    val = val + `${t(el)} `;
                });
                return val;
            } else {
                return t(label);
            }
        };

        const lnbClass = computed(() => {
            return `fold-${props.fold}`;
        });

        const subMenu = (id: string): Menu[] | [] => {
            const target = LNB_MENU.filter((item) => item.id === id)[0];
            return (target && target.children) || [];
        };

        const singleMenu = (id: string) => {
            const target = LNB_MENU.filter((el) => el.id === id)[0];
            return (target && !target.children) || false;
        };

        const clickMenu = ({ id: menuId, path }: { id: unknown, path: unknown[] }) => {
            // console.log('------------------------------- clickMenu', menu);
            // const { id: menuId = '', path = [] } = menu;
            const sMenu = singleMenu(menuId as string);
            const isSub = path.length > 1;

            if (menuId === currentMenuId.value) {
                // console.log('menuId === this.state.currentMenuId return');
                return;
            }

            if (isSub || sMenu) {
                // console.log(menuId, path);
                currentMenuId.value = menuId as string;
                //const url = findRouteUrl(path[0], menuId);
                //console.log('--------------------------------------- routing', currentMenuId.value, url);
                router.push({ path: menuId as string });
            }
        };

        const updateMenu = (menu: unknown[]) => {
            // console.log('---------------------------------- updateMenu', menu);

            // 선택한 아이템 재선택시 menu = [] 빈배열
            if (menu.length === 0) {
                selected.value = [`${currentMenuId.value}`];
            }
        };

        const openMenu = ({ id, value }: { id: unknown, value: boolean }) => {
            // console.log('--------------------------------- openMenu', menu);
            // const { id, value } = menu; // value (true==open, false== close)
            const sMenu = singleMenu(id as string);

            if (value && !sMenu) {
                const firstChildMenu = subMenu(id as string)[0];
                if (firstChildMenu) {
                    selected.value = [`${firstChildMenu.id}`];
                    currentMenuId.value = firstChildMenu.id;
                    // console.log('--------------------------------------- routing', firstChildMenu.url);
                    router.push({ path: firstChildMenu.id });
                }
            }
        };

        return {
            icons: {
                mdiCircleSmall
            },
            LNB_MENU,
            currentMenuId,
            selected,
            opened,
            lnbClass,
            subMenu,
            singleMenu,
            clickMenu,
            updateMenu,
            openMenu,
            menuLabel
        };
    }
});
</script>

<style lang="scss">
@import '@/assets/scss/variables.module.scss';

.lnb {
    width: 240px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    padding-left: 24px;

    &.fold-false {
        margin-left: 0px;
        opacity: 1;
    }

    &.fold-true {
        margin-left: -240px;
        opacity: 0;
    }

    .v-list-item {
        .v-list-item-title {
            font-size: 13px;
        }

        .v-list-item__content {
            margin-left: -20px;
        }

        &:hover .v-list-item__overlay {
            opacity: 0;
        }
    }

    .active-list-item {
        background-color: $list-item-active-bg;
        .v-list-item__overlay {
            opacity: 0;
        }
        .v-list-item__prepend {
            color: #5e35b1;
            fill: #5e35b1;
        }
        &.sub-menu {
            background-color: transparent;

            .v-list-item-title {
                font-weight: bold;
            }
        }
    }
}
</style>
