<template>
    <div class="tnb">
        <div>
            <img :src="require('@/assets/images/POPCON__SM_logo02.svg')" />
            <button @click="clickFold"><span>&#9776;</span></button>
        </div>
        <div>
            <div>
                <v-menu>
                    <template #activator="{ props }">
                        <v-btn variant="tonal" color="primary" size="34" v-bind="props">{{ $i18n.locale }}</v-btn>
                    </template>
                    <v-list min-width="100">
                        <v-list-item v-for="(item, index) in $i18n.availableLocales.reverse()" :key="index" :value="index" :style="[locale === item ? { backgroundColor: '#e3f2fd' }: '']">
                            <v-list-item-title :style="{ marginLeft: '18px', textTransform: 'uppercase' }" @click="changeLang(item)">{{ item }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
            <div>
                <v-menu>
                    <template #activator="{ props }">
                        <v-btn variant="text" size="large" v-bind="props" :ripple="false">
                            <v-icon :icon="mdiAccountCircle" color="rgb(94, 53, 177)" size="x-large" />
                            <span>{{ userName }}</span>
                        </v-btn>
                    </template>
                    <v-list min-width="100">
                        <v-list-item :style="{ cursor: 'pointer' }" @click="logout">
                            <template #prepend>
                                <v-icon :icon="mdiLogoutVariant" color="#000" size="small" :style="{ marginRight: '8px' }" />
                            </template>
                            <v-list-item-title :style="{ fontSize: '13px' }">{{ $t("logout") }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, SetupContext } from 'vue';
import { mdiAccountCircle, mdiLogoutVariant } from '@mdi/js';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';

export default defineComponent({
    emits: ['changeFold'],
    setup(_: Record<string, unknown>, { emit }: SetupContext) {
        const { locale } = useI18n({ useScope: 'global' });
        let fold = ref(false);

        const clickFold = () => {
            fold.value = !fold.value;
            emit('changeFold', fold.value);
        };

        const store = useStore();
        const userName = store.getters['auth/userName'];

        const changeLang = (lang: string) => {
            locale.value = lang;
            window.localStorage.setItem('locale', lang);
        };

        const logout = () => {
            store.dispatch('auth/logout');
        };

        return {
            fold,
            clickFold,
            mdiAccountCircle,
            mdiLogoutVariant,
            userName,
            changeLang,
            logout,
            locale,
        };
    }
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/common.scss';
@import '@/assets/scss/variables.module.scss';

.tnb {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    display: flex;
    padding: 16px 24px;
    align-items: center;
    justify-content: space-between;

    & > div:nth-child(1) {
        display: flex;
        align-items: center;

        & > img {
            widows: 220px;
            height: 27px;
            margin-right: 16px;
        }

        & > button {
            height: 34px;
            width: 34px;
            color: $color-secondary;
            background-color: $color-secondary-lighten-5;
            padding: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover,
            &:active {
                background-color: $color-secondary;
                & > span {
                    color: #fff;
                }
            }

            & > span {
                font-size: 19px;
                color: $color-secondary;
            }
        }
    }

    & > div:nth-child(2) {  // lang, user
        padding-right: 10px;
        display: flex;
        align-items: center;

        & > div:nth-child(1) {
            margin-right: 16px;
        }

        & > div:nth-child(2) > div {
            display: flex;
            align-items: center;
            justify-content: center;            
        }
    }
}
</style>
