<template>
    <div>
        <div class="card">
            <HostChart :total-host="totalHost" :total-available-host="totalAvailableHost" :top-card-max-width="topCardMaxWidth" />
        </div>
    </div>
</template>

<script lang="ts">
import { onMounted, ref } from 'vue';
import { getStatisticsInfo } from '@/utils';
import HostChart from '@/pages/host/HostChart.vue';

export default {
    components: {
        HostChart
    },
    setup() {
        const totalHost = ref(0);
        const totalAvailableHost = ref(0);
        const topCardMaxWidth = ref(0);

        onMounted(() => {
            topCardMaxWidth.value = calcTopCardMaxWidth();

            (async () => {
                const data = await getStatisticsInfo();
                totalHost.value = data.totalHost;
                totalAvailableHost.value = data.totalAvailableHost;
                // console.log(data);
            })();
        });

        const calcTopCardMaxWidth = () => {
            const container = document.querySelector('.router-container') as HTMLElement;
            const mainWidth = (container && container.offsetWidth) || 475;
            const mainPadding = 40;
            const cardPadding = 16 * 3;
            return Math.floor((mainWidth - mainPadding - cardPadding) / 4);
        };

        return {
            topCardMaxWidth,
            totalHost,
            totalAvailableHost
        };
    }
};
</script>

<style lang="scss" scoped>
.card {
    max-height: 306px;
    overflow: hidden;
}
</style>
