<template>
  <input type='file' @change='onFileChange'>
  <JsonDataElement v-for='(item, index) in jsonData' :item='item' :idx='index' />
</template>

<script>
import JsonDataElement from './JsonDataElement.vue';

export default {
  components: {
    JsonDataElement
  },
  data(){
    return {
      jsonData: null
    }
  },
  methods: {
    onFileChange(e){
      const file = e.target.files[0];      
      if(file){
        const reader = new FileReader();
        const vm = this;
        reader.onload = (e) => {
          vm.jsonData = JSON.parse(e.target.result);
        }
        reader.readAsText(file);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
  input[type=file] {
    margin-bottom: 10px;
  }
</style>
