<template>
  <div class='item'><span>{{idx+1}}.</span> {{item.data1}}</div>
</template>

<script>
export default {  
  props: {
    item: Object,
    idx: Number
  },
  created(){
    //console.log(this.item);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  div {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    line-height: 23px;
    text-align: left;
    margin: 0 auto;
    color: #333;

    span {
      color: red;
    }
  }
</style>