@import './settings.scss';
@import './variables.module.scss';

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    font-family: 'Noto Sans KR', sans-serif;

    * {
        box-sizing: border-box;
        text-transform: none;
    }

    textarea:focus, input:focus{
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 12px;
  
    &:hover {
        background-color: #616161;
    }
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

#app {
    width: 100vw;
    height: 100vh;
}

.v-ripple__container {
    display: none !important;
}

.v-list-group__items .v-list-item {
    padding-inline-start: 20px !important;

    .v-list-item__content {
        margin-left: -25px !important;
    }
}

.v-card .v-card-title {
    line-height: 3rem;
}

.v-card {
    &.large {
        .v-card-item {
            display: flex;
            justify-content: center;

            .v-card-item__content {
                overflow: visible;
            }
        }

        &.list {
            .v-card-item {
                padding: 0;

                .v-card-item__content {
                    width: 100%;
                }
            }

            .v-card-actions {
                position: absolute;
                height: 64px;
                top: 0px;
                right: 16px;
                padding: 0;
            }
        }
    }

    &.popup {
        .v-card-actions {
            display: flex;
            align-items: center;
            justify-content: right;

            .v-btn {
                min-width: 100px;
            }
        }
    }
}

.tnb {
    & > div:nth-child(2) {  // lang, user
        & > div:nth-child(1) {
            .v-btn .v-btn__content {
                text-transform: uppercase;
            }
        }

        & > div:nth-child(2) {
            .v-btn {
                padding: 0;

                .v-btn__overlay {
                    display:none !important;
                }

                .v-icon {
                    width: 32px;
                    height: 32px;
                }

                span {
                    margin-left: 4px;
                }
            }
        }
    }
}

.v-field--variant-filled .v-field__overlay {
    opacity: 0.05 !important;
    background-color: $color-primary !important;
}

.v-field input:placeholder-shown {
    font-size: 0.75rem;
}

.popup {
    .popup-footer {
        height: 72px;
        padding: 1.5rem;
    }

    .v-input.v-input--horizontal {
        margin-bottom: 1rem;
    }
}

.status {
    &.active {
        color: $color-active;
    }

    &.inactive {
        color: $error-primary;
    }
}