$bg-color-main: #e3f2fd;
// $border-color-default: rgba(0, 0, 0, 0.23);
$border-color-default: #aaa;
$border-color-hover: #666;
$border-color-active: #2196f3;
$label-color-default: #9e9e9e;
$label-color-active: #2196f3;
$color-primary: #2196f3;
$color-active: #52c41a;
$color-primary-lighten-5: #e3f2fd;
$color-secondary: #673ab7;
$color-secondary-lighten-5: #ede7f6;
$list-item-active-bg: #ede7f6;
$error-primary: #ff4d4f;

:export {
    colorPrimary: $color-primary;
    colorSecondary: $color-secondary;
    colorPrimaryLighten5: $color-primary-lighten-5;
    colorActive: $color-active;
    borderColorDefault: $border-color-default;
    borderColorHover: $border-color-hover;
    borderColorActive: $border-color-active;
    errorPrimary: $error-primary;
}