<template>
  <JsonFileReader />
</template>

<script>
import JsonFileReader from './components/JsonFileReader.vue';

export default {
  name: 'App',
  components: {
    JsonFileReader
  }
}
</script>

<style scoped lang='scss'>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
