<template>
    <v-card class="large" variant="flat" :max-width="topCardMaxWidth">
        <v-card-title>
            {{ $t('host') }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-item>
            <div>
                <ApexCharts :options="state.opt" :series="state.opt.series" type="donut" width="240" height="240" />
            </div>
        </v-card-item>
    </v-card>
</template>

<script lang="ts">
import { defineComponent, toRefs, onBeforeUpdate, reactive, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import VueApexCharts from 'vue3-apexcharts';

export default defineComponent({
    components: {
        ApexCharts: VueApexCharts
    },
    props: {
        totalHost: { type: Number, default: 0, required: true },
        totalAvailableHost: { type: Number, default: 0, required: true },
        topCardMaxWidth: { type: Number, default: 300, required: true }
    },
    setup(props) {
        const { t } = useI18n();
        const { totalHost, totalAvailableHost } = toRefs(props);
        const adjustTotalHost = ref(0);

        const state = reactive({
            opt: {
                chart: {
                    width: 380,
                    type: 'donut'
                },
                colors: ['#C4C4C4', '#00C853'],
                dataLabels: {
                    enabled: true,
                    formatter(val: number, opts: {[index: string]: string | number } ) {
                        if (totalHost.value === 0 && opts.seriesIndex === 0) {
                            return '0';
                        }
                        return val / (100 / adjustTotalHost.value);
                    },
                    dropShadow: {
                        enabled: false
                    }
                },
                labels: [`${t('power')} ${t('off')}`, `${t('power')} ${t('on')}`],
                plotOptions: {
                    pie: {
                        donut: {
                            labels: {
                                show: true,
                                name: {
                                    offsetY: -6
                                },
                                value: {
                                    offsetY: 4
                                },
                                total: {
                                    show: true,
                                    showAlways: true,
                                    label: t('total'),
                                    formatter() {
                                        // return w.globals.seriesTotals.reduce((a: number, b: number) => a + b, 0);
                                        return `${totalHost.value}`;
                                    }
                                }
                            }
                        }
                    }
                },
                tooltip: {
                    enabled: true,
                    y: {
                        show: true,
                        format: 'dd MMM',
                        formatter(val: number, opts: {[index: string]: string | number }) {
                            if (totalHost.value === 0 && opts.seriesIndex === 0) {
                                return '0';
                            }
                            return `${val}`;
                        }
                    }
                },
                stroke: {
                    width: totalHost.value === 0 ? 0 : 2
                },
                legend: {
                    position: 'bottom',
                    offsetY: 0,
                    height: 30
                },
                series: [adjustTotalHost.value - (totalAvailableHost.value || 0), totalAvailableHost.value || 0]
            }
        });

        onBeforeUpdate(() => {
            // console.log('--------onBeforeUpdate', totalHost.value, totalAvailableHost.value, props.topCardMaxWidth);
            adjustTotalHost.value = totalHost.value === 0 ? 100 : totalHost.value;
            state.opt.series = [adjustTotalHost.value - (totalAvailableHost.value || 0), totalAvailableHost.value || 0];
            state.opt.dataLabels.formatter = (val: number, opts: {[index: string]: string | number }) => {
                if (totalHost.value === 0 && opts.seriesIndex === 0) {
                    return '0';
                }
                return val / (100 / adjustTotalHost.value);
            };
        });

        return {
            state
        };
    }
});
</script>

<style lang="scss" scoped>
</style>
