<template>
    <v-card class="large list" variant="flat">
        <v-card-title>
            {{ $t('host') }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-actions>
            <v-btn v-for="(item, index) in PrimaryActions" :key="`primary${index}`" variant="flat" color="primary">
                {{ getLabel(item.label || []) }}
                <component :is="item.component" @update:host="getList($event)" />
            </v-btn>
        </v-card-actions>
        <v-card-item>
            <div>
                <!-- backend에서 10건씩 가저올 경우에는 total값과 list.length 값이 다름, 따라서 total은 별개로 넘기도록 처리함 -->
                <Table :data="{ total: state.hosts.length || 0, list: state.hosts || [] }" :columns="columns" :data-keys="keys" :filter-by-backend="false" :row-key="rowKey" :act-row-key="actRowKey" :row-action="rowAction" check />
            </div>            
        </v-card-item>        
    </v-card>
</template>
<script setup lang="ts">
import { HostState } from '@/types';
import { onMounted, reactive, provide } from 'vue';
import { useStore } from 'vuex';
import Table from '@/components/molecules/Table.vue';
import { HostListActionConfig } from './actions/ActionConfig';
import { getLabel } from '@/utils/index';

const { primary: PrimaryActions, rowAction } = HostListActionConfig;

const store = useStore();

const state: HostState = reactive({ hosts: [], addDialog: false });

const getList = async (refresh = true) => {
    if (!refresh) {
        return;
    }
    state.hosts = await store.dispatch('host/list');
}
 
const columns = [
    ['host', 'name'],
    ['ip', 'address'],
    ['user', 'name'],
    ['initialization'],
    ['status'],
    ['ipmi', 'address'],
    ['ipmi', 'user', 'name'],
    ['ipmi', 'status'],
    ['power'],
];

const keys = ['hostname', 'address', 'username', 'initializeStatus', 'status', 'ipmiAddress', 'ipmiUsername', 'ipmiStatus', 'powerStatus'];

const rowKey = 'HostUuid';

const actRowKey = 'address';

onMounted(async () => {
    getList(true);
});

provide('hostUpdate', {
    getList,
});
</script>

<style lang="scss" scoped></style>
