<template>
    <div class="counter">
        <p>{{ name }}</p>
        <p>{{ count }}</p>
        <button @click="increment">+1</button>
    </div>
</template>
<script lang="ts">
export default {
    props: {
        name: String,
        initCount: Number
    },
    data() {
        return {
            count: this.initCount?
        }
    },
    methods: {
        increment() {
            this.count++;
        }
    }
}
</script>
<style lang="scss" scoped>
.counter{
    width: 200px;
}
</style>