<template>
    <v-dialog v-model="dialog" activator="parent" max-width="600" max-height="840">
        <v-card class="popup">
            <v-card-title style="font-size: 1rem;">
                {{ `${$t('host')} ${$t('delete')}` }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-item>
                <v-card-text>
                    <p>{{t('host-delete-multiple-message')}}</p>
                    <p>{{t('delete-progress-message')}} : <span>{{state.ipAddr}}</span></p>
                </v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>                    
                    <v-text-field
                        clearable
                        :rules="deleteHostRules"
                        ></v-text-field>
                </v-form>
            </v-card-item>
            <v-divider></v-divider>
            <v-card-actions class="popup-footer">
                <v-btn variant="outlined" color="primary" @click="close">{{ $t('cancel') }}</v-btn>
                <v-btn variant="flat" color="primary" @click="confirm">{{ $t('confirm') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script setup lang="ts">
import store from '@/store';
import { ref, reactive, defineProps, onUpdated, inject } from 'vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';

const { getList } = inject('hostUpdate') as { getList: (f: boolean) => void };

const props = defineProps({
    rowKey: { type: String, default: '', required: false },
});

const { t } = useI18n();
const dialog = ref(false);
const valid = ref(false);
const form = ref();
const state = reactive({ hostName: '', ipAddr: '', });
const deleteHostRules = [(v: string) => !!v || t('host-ip-placeholder', { ip: state.ipAddr }), (v: string) => state.ipAddr === v || t('host-ip-placeholder', { ip: state.ipAddr })];

const close = () => {
    dialog.value = false;
}

const confirm = async () => {
    const { valid } = await form.value?.validate();

    if (!valid) {
        return;
    }

    await store.dispatch('host/delete', state.ipAddr).then(
        () => {
            getList(true);
            close();
        },
    ).finally(() => close());
}

onUpdated(async () => {
    if (props.rowKey && dialog.value) {
        const store = useStore();
        const host = await store.dispatch('host/getHost', props.rowKey);
        state.hostName = host.hostname;
        state.ipAddr = host.address;
    }
});
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.module.scss';

.v-card-text {
    padding: 0 0 1rem;

    p {
        line-height: 2;
        font-size: 14px;

        span {
            color: $error-primary;
        }
    }   
}
</style>
