<template>
    <v-dialog v-model="dialog" activator="parent" max-width="600" max-height="840">
        <v-card class="popup">
            <v-card-title style="font-size: 1rem;">
                {{ `${$t('host')} ${rowKey ? $t('edit') : $t('add')}` }}
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field
                        v-model="state.hostName"
                        :rules="nameRules"
                        :label="`${$t('host')} ${$t('name')}`"
                        clearable
                        :placeholder="$t('host-name-placeholder')"
                        ></v-text-field>
                    <v-text-field
                        v-model="state.ipAddr"
                        :rules="ipRules"
                        :label="`${$t('ip')} ${$t('address')}`"
                        clearable
                        :placeholder="ipPlaceHolder"
                        ></v-text-field>
                    <v-text-field
                        v-model="state.userName"
                        readonly
                        :label="`${$t('user')} ${$t('name')}`"
                        ></v-text-field>
                    <v-text-field
                        type="password"
                        v-model="state.pw"
                        :rules="pwRules"
                        :label="t('Password')"
                        clearable
                        :placeholder="t('error-password-empty')"
                        ></v-text-field>
                </v-form>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions class="popup-footer">
                <v-btn variant="outlined" color="primary" @click="close">{{ $t('cancel') }}</v-btn>
                <v-btn variant="flat" color="primary" @click="confirm">{{ $t('confirm') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script setup lang="ts">
import { ref, reactive, defineProps, onUpdated } from 'vue';
import { useI18n } from 'vue-i18n';
import { ipv4Regex } from '@/utils';
import { useStore } from 'vuex';
import store from '@/store';

const props = defineProps({
    rowKey: { type: String, default: '', required: false },
});

const { t } = useI18n();
const dialog = ref(false);
const valid = ref(false);
const form = ref();
const state = reactive({ hostName: '', ipAddr: '', userName: 'root', pw: '', ipmiAddr: '', ipmiUserName: '', ipmiPw: '' });
const nameRules = [(v: string) => !!v || t('host-name-placeholder'), (v: string) => /^[ A-Za-z0-9@./#&+\-()]*$/.test(v) || t('host-name-placeholder')];
const ipPlaceHolder = t('host-ip-placeholder', { ip: 'e.g. 10.0.0.1' });
const ipRules = [(v: string) => !!v || ipPlaceHolder, (v: string) => ipv4Regex.test(v) || ipPlaceHolder];
const pwRules = [(v: string) => !!v || t('error-password-empty'), (v: string) => v.length >= 8 || t('error-password-invalid')];
let isUpdatedFormValue = false;

const close = () => {
    dialog.value = false;
}

const emits = defineEmits(['update:host']);

onUpdated(async () => {
    if (props.rowKey && dialog.value && !isUpdatedFormValue) {
        const store = useStore();
        const host = await store.dispatch('host/get', props.rowKey);
        state.hostName = host.hostname;
        state.ipAddr = host.address;
        state.userName = host.username;
        isUpdatedFormValue = true;
    }
});

const confirm = async () => {
    const { valid } = await form.value?.validate();

    if (!valid) {
        return;
    }

    const { hostName: hostname, ipAddr: address, userName: username, pw: password } = state;
    const body = {
        hostname,
        address,
        username,
        password,
        port: '22'
    };

    await store.dispatch('host/add', body).then(
        () => {
            emits('update:host', true);
            close();
        },
    );
}

</script>

<style lang="scss" scoped>
</style>
