body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    * {
        box-sizing: border-box;
    }

    div.wrapper, div.container, button {
        border-radius: 4px;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    button {
        cursor: pointer;
    }
}