<template>
    <div class="login-container">
        <div class="box">
            <img :src="require('@/assets/images/POPCON__SM_logo.svg')" />
            <!-- <img src="@/assets/images/POPCON__SM_logo.svg" /> -->
            <div>
                <TextField label="Username" height="62px" label-position="move" variant="outlined" @input-changed="idChanged" />
            </div>
            <div style="margin-top: 20px">
                <TextField
                    label="Password"
                    height="62px"
                    label-position="move"
                    variant="outlined"
                    type="password"
                    @input-changed="pwChanged"
                />
            </div>
            <div style="margin-top: 20px">
                <button type="button" :disabled="!state.id || !state.pw" @click="login">{{ $t('login') }}</button>
            </div>
            <div v-if="state.errMsg" class="error">
                {{ state.errMsg }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import TextField from '@/components/atoms/TextField.vue';
import { reactive } from 'vue';
import { useStore } from 'vuex';

export default {
    name: 'Login',
    components: {
        TextField
    },
    setup() {
        const store = useStore();

        const state = reactive({
            id: '',
            pw: '',
            errMsg: '',
        });

        const idChanged = (val: string) => {
            state.id = val;
        };

        const pwChanged = (val: string) => {
            state.pw = val;
        };

        const login = async () => {
            const result = await store.dispatch('auth/login', { username: state.id, password: state.pw });
            if (result && typeof result === 'string') {
                state.errMsg = result;
            }
        };

        return {
            idChanged,
            pwChanged,
            login,
            state
        };
    }
    // methods: {
    //     userNameChanged(val) {
    //         this.username = val;
    //     },
    //     pwChanged(val) {
    //         this.pw = val;
    //     }
    // }
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/variables.module.scss';
@import '@/assets/scss/common.scss';

.login-container {
    width: 100%;
    height: 100%;
    background-color: $bg-color-main;
    display: flex;
    align-items: center;

    .box {
        margin: auto;
        width: 508px;
        padding: 40px;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
            margin-bottom: 26px;
        }

        & > div {
            width: 100%;
        }

        button {
            background-color: $color-secondary;
            width: 100%;
            height: 60px;
            border-radius: 8px;
            color: white;
        }

        .error {
            margin-top: 1rem;
            color: $error-primary;
            font-size: 12px;
        }
    }
}
</style>
