<template>
    <template v-if="isModifyMode">
        <th class='modify'>
            <div>
                <button class="arrow" @click="insert(true)">&#8592;</button>
                <input type="text" :value="payload.name" @input="changeName" v-on:keyup.enter="updateName" @blur="updateName" />
                <button class="arrow" @click="insert(false)">&#8594;</button>
            </div>
        </th>
    </template>
    <template v-else>
        <th>{{payload.name}}</th>
    </template>
</template>

<script>
import { reactive } from 'vue';
// import { useStore } from 'vuex';
import { Column } from '../types';
import { v4 as uuidv4 } from 'uuid';

export default {
    name: 'Column',
    props: {
        payload: Column,
        isModifyMode: Boolean
    },
    setup(props) {
        // const store = useStore();
        const state = reactive({
            name: props.name
        });

        return { state };
    },
    computed: {

    },
    methods: {
        changeName(e) {
            this.state.name = e.target.value;
        },
        updateName() {
            console.log('updateName', this.state.name);
            this.$store.dispatch('wbs/setColumn', { key: this.payload.key, name: this.state.name, completed: true });
        },
        insert(insertBefore) {
            this.$store.dispatch('wbs/setColumn', { key: uuidv4(), name: '', completed: false, insertBefore, bkey: this.payload.key });
        }
    }
};
</script>

<style lang="scss" scoped>
    th.modify div {
        display: flex;
        justify-content: space-between;

        input {
            width: 70%;
            background-color: #efefef;
        }    
    }
</style>
