<template>
    <div class="wrapper">
        <div class='command'>
            <div>
                <button @click="clearAll">Clear All</button><button @click="dateGant">Calendar</button>
            </div>
            <div>
                <button @click="changeMode">Change Mode</button><span>{{ state.isModifyMode === true ? 'modify mode' : 'view mode' }}</span>
            </div>
        </div>
        <div class='table-view'>
            <div>
                <table id="table-wbs">
                    <thead>
                        <tr>
                            <Column v-for="c in columns" :key="c.key" :payload="c" :isModifyMode="state.isModifyMode" />
                        </tr>
                    </thead>
                    <tbody>
                        <Row v-for="r in rows" :key="r.key" :payload="r" :isModifyMode="state.isModifyMode" />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive } from 'vue';
import { mapState } from 'vuex';
import Column from './Column.vue';
import Row from './Row.vue';
import { v4 as uuidv4 } from 'uuid';

export default {
    name: 'Dashboard',
    components: {
        Column,
        Row
    },
    setup() {
        // const store = useStore();
        // const initCmn = store.getters['wbs/columns'];
        // const isEmptyCmn = initCmn.length === 0;

        const state = reactive({
            isModifyMode: false
        });

        return { state };
    },
    computed: {
        ...mapState('wbs', {
            columns: state => state.columns,
            rows: state => state.rows
        })
    },
    methods: {
        changeMode() {
            this.state.isModifyMode = !this.state.isModifyMode;
            if (!this.state.isModifyMode) {
                this.$store.dispatch('wbs/clearEmptyColumn');
            } else {
                this.init();
            }
        },
        clearAll() {
            this.$store.dispatch('wbs/allClear');
            this.state.isModifyMode = false;
        },
        init() {
            const initCmn = this.$store.getters['wbs/columns'];
            const isEmptyCmn = initCmn.length === 0;
            if (isEmptyCmn) {
                const ckey = uuidv4();
                const rkey = uuidv4();
                this.$store.dispatch('wbs/setColumn', { key: ckey, name: '', completed: false });
                this.$store.dispatch('wbs/setRow', { key: rkey, tds: [{ckey, rkey, key: uuidv4(), name: ''}] });
            }
        },
        dateGant() {
            const rows = this.$store.getters['wbs/rows'];
            const date = rows.reduce((acc, cur) => {
                const tds = cur.tds;
                const d = tds.filter((td) => td.isDate);
                for (const el of d) {
                    const tmp = new Date(el.name);
                    if (tmp < acc[0]) {
                        acc[0] = tmp;
                    }
                    if (tmp > acc[1]) {
                        acc[1] =  tmp;
                    }
                }
                return acc;                
            }, [new Date(), new Date()]);

            console.log(date);
        }
    }
}
</script>

<style lang="scss">
    .wrapper {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        margin: 40px;
        padding: 20px;
        background-color: #efefef;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        div.command {
            display: flex;
            align-items: center;
            height: 60px;
            margin-bottom: 20px;
            flex-direction: column;
            justify-content: left;

            & > div {
                width: 100%;
            }

            span {
                display: inline-block;
                width: 120px;
            }

            button {
                margin-right: 10px;
                border: 1px solid #333;
                background-color: #fff;

                &:active {
                    background-color: #eee;
                }
            }
        }

        div.table-view {
            display: flex;
            justify-content: flex-start;

            table:nth-of-type(1) {
                background-color: #fff;
                border-collapse: collapse;

                td, th {
                    border: 1px solid #333;
                    min-width: 120px;

                    input {
                        border: none
                    }
                    button {
                        border: 1px solid #333;

                        &.arrow {
                            width: 15px;
                            height: 15px;
                            line-height: 1;
                            padding: 0;
                        }
                    }
                }

                thead {
                    tr {
                        height: 30px;
                    }
                }
            }
        }        
    }
</style>
