<template>
    <tr>
        <Td v-for="(td, idx) in payload.tds" :key="td.key" :payload="td" :idx="idx" :isModifyMode="isModifyMode" />
    </tr>
</template>

<script>
import { Row } from '../types';
import Td from './Td.vue'

export default {
    name: 'Row',
    components: {
        Td
    },
    props: {
        payload: Row,
        isModifyMode: Boolean
    }
}
</script>

<style lang="scss" scoped>
    tr {
        td {
            height: 30px;
            
            & > div {
                display: flex;
                flex-direction: column;

                input {
                    margin: 4px;
                    background-color: #efefef;
                }
            }
        }
    }    
</style>
