<template>
    <template v-if="isModifyMode">
        <td>
            <div>
                <template v-if="idx === 0">
                    <button class="arrow" @click="insert(true)">&#8593;</button>
                </template>
                <template v-if="dateTd">
                    <input type="date" :value="formatDate" @change="changeDate" />
                </template>
                <template v-else>
                    <input type="text" :value="payload.name" @input="changeName" v-on:keyup.enter="updateName" @blur="updateName" @click="clickInput" />
                </template>
                <template v-if="idx === 0">
                    <button class="arrow" @click="insert(false)">&#8595;</button>
                </template>
            </div>
        </td>
    </template>
    <template v-else>
        <td>{{payload.name}}</td>
    </template>
</template>

<script>
import { reactive } from 'vue';
// import { useStore } from 'vuex';
import { Row } from '../types';
import { v4 as uuidv4 } from 'uuid';

export default {
    name: 'Row',
    props: {
        payload: Row,
        isModifyMode: Boolean,
        idx: Number
    },
    setup(props) {
        // const store = useStore();
        const state = reactive({
            name: props.name,
            showDate: false
        });

        return { state };
    },
    computed: {
        dateTd() { return this.state.showDate && this.payload.isDate },
        formatDate() {
            const d = new Date(this.state.name);
            return [d.getFullYear(), `${d.getMonth()+1}`.padStart(2, '0'), `${d.getDate()}`.padStart(2, '0')].join('-');
        },
        fullName: {
            get(){
                return this.state.name;
            },
            set(value) {
                this.state.name = value;
            }
        }
    },
    methods: {
        changeName(e) {
            this.state.name = e.target.value;
        },
        updateName() {
            const isDate = (/^\d{4}([./-])\d{2}\1\d{2}$/.test(this.state.name)) ? true : false;
            this.$store.dispatch('wbs/setTd', { ckey: this.payload.ckey, rkey: this.payload.rkey, key: this.payload.key, name: this.state.name, isDate });
        },
        insert(insertBefore) {
            const clm = this.$store.getters['wbs/columns'];
            const rowKey = uuidv4();
            const obj = { key: rowKey, tds: [], insertBefore, bkey: this.payload.rkey };
            for (const c of clm) {
                obj.tds.push({ ckey: c.key, rkey: rowKey, key: uuidv4(), name: '' });
            }

            this.$store.dispatch('wbs/setRow', obj);
            // console.log('insert', insertBefore);
        },
        clickInput() {
            this.state.showDate = !this.state.showDate;
        },
        changeDate(e) {
            this.state.showDate = false;
            this.state.name = e.target.value;
            this.updateName();
        }
    }
}
</script>

<style lang="scss" scoped>
    tr {
        td {
            height: 30px;
            
            & > div {
                display: flex;
                flex-direction: column;

                input {
                    margin: 4px;
                    background-color: #efefef;
                }
            }
        }
    }    
</style>
