<template>
    <div class="custom-table-container">
        <v-table :class="['custom-table', check? 'custom-check-table' : '']">
            <thead>
                <tr>
                    <th v-if="check" class="text-left"><v-checkbox v-model="state.allSelected" hide-details color="primary" :indeterminate="state.indeterminate" @click="clickAllCheck"></v-checkbox></th>
                    <th v-for="(column, index) in columns" :key="index" class="text-left">{{ getLabel(column) }}</th>
                    <th v-if="hasRowAction">{{ $t('row-action') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in state.tableData" :key="`tr${index}`">
                    <td v-if="check" class="text-left"><v-checkbox v-model="item.selected" hide-details color="primary" @click="clickRowCheck($event, item[rowKey])"></v-checkbox></td>
                    <td v-for="key in dataKeys" :key="key" :class="getFieldClassName(key, item[key])">{{ item[key] }}</td>
                    <td v-if="hasRowAction"><RowActionsContainer :row-action="rowAction" :act-row-key="item[actRowKey]"/></td>
                </tr>
            </tbody>
        </v-table>
        <v-divider :style="{ width: '100%' }"></v-divider>
        <Pagination :total="state.total" :page-size="state.pageSize" @change-page="changePage" @change-page-size="changePageSize"/>
    </div>
</template>

<script setup lang="ts">
import { defineProps, PropType, reactive, computed } from 'vue';
import Pagination from '../atoms/Pagination.vue';
import { CommonTableObj, RowAction, CommonListType } from '@/types';
import { getLabel, getFieldClassName } from '@/utils/index';
import RowActionsContainer from '../atoms/RowActionContainer.vue';

const props = defineProps({
    data: { type: Object as PropType<CommonTableObj>, default: () => ({ total: 0, list: [] }), required: true },
    columns: { type: Array as PropType<string[][]>, default: () => [], required: true },
    dataKeys: { type: Array as PropType<string[]>, default: () => [], required: true },
    rowAction: { type: Object as PropType<RowAction>, default: () => ({ type: '', actions: []}), required: false },
    check: { type: Boolean, default: false, required: false },
    filterByBackend: { type: Boolean, default: true, required: false },
    rowKey: { type: String, default: 'id', required: false },
    actRowKey: { type: String, default: 'id', required: false },
});

const hasRowAction = props.rowAction && props.rowAction.actions && props.rowAction.actions.length > 0;

const state: { selected: string[], page: number, pageSize: number, total: number, tableData: CommonListType, allSelected: boolean, indeterminate: boolean } = reactive({
    selected: [],
    page: 1,
    pageSize: 10,
    total: computed(() => props.data.total),
    tableData: computed(() => {
        if (props.filterByBackend) {
            return props.data.list;
        } else {
            const start = (state.page - 1) * state.pageSize;
            const end = start + state.pageSize;
            return props.data.list.slice(start, end);
        }
    }),
    allSelected: false,
    indeterminate: false,
});

const changePage = (p: number) => {
    state.page = p;
    updatePaginationState();

    if (props.filterByBackend) {
        // TODO 페이지 변경시 backend 측 데이터 재취득 처리
    }
}

const changePageSize = (s: number) => {
    state.pageSize = s;
    updatePaginationState();

    if (props.filterByBackend) {
        // TODO 페이지 사이즈 변경시 backend 측 데이터 재취득 처리
    }
}

const updatePaginationState = () => {
    const selectedLen = state.tableData.filter((d) => state.selected.includes(d[props.rowKey])).length;
    state.allSelected = selectedLen !== 0 && selectedLen === state.tableData.length;
    state.indeterminate = selectedLen !== 0 && selectedLen !== state.tableData.length;
}

const clickRowCheck = (e: MouseEvent, id: string) => {
    const target = e.target as HTMLInputElement;
    const rowData = state.tableData.filter((d) => d[props.rowKey] === id)[0];
    if (target.checked) {
        state.selected.push(id);
        rowData && (rowData.selected = true);
    } else {
        state.selected = state.selected.filter((v) => v !== id);
        rowData && (rowData.selected = false);
    }

    state.allSelected = state.selected.length !== 0 && state.selected.length === state.tableData.length;
    state.indeterminate = state.selected.length !== 0 && state.selected.length !== state.tableData.length;
}

const clickAllCheck = (e: MouseEvent) => {
    const target = e.target as HTMLInputElement;
    if (target.checked) {
        state.selected = state.selected.concat(state.tableData.map((d) => d[props.rowKey]));
        state.allSelected = true;
        state.tableData.forEach((d) => d.selected = true);
    } else {
        const idArr: string[] = state.tableData.map((d) => d[props.rowKey]);
        state.selected = state.selected.filter((d) => !idArr.includes(d));
        state.allSelected = false;
        state.tableData.forEach((d) => d.selected = false);
    }
    state.indeterminate = false;
}

</script>

<style lang="scss" scoped>
.custom-table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    .custom-table {
        width: 100%;
        max-height: calc(100vh - 80px - 64px - 60px - 3rem ); // 80 = tnb, 64 = card title, 60 = pagination, 3rem = top bottom padding
        overflow-y: auto;

        &.custom-check-table {
            table {
                tr {
                    th:nth-child(1), td:nth-child(1) {
                        width: 61px;
                    }
                }
            }
        }
    }
}
</style>